html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

$blue: #0064e6;

.toc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
  font-size: 2em;
  color: $blue;
  background: lighten($blue, 35%);
  text-decoration: none;
  box-shadow: 0 0 15px -3px transparentize($blue, .2);
  opacity: .5;
  transition: opacity .1s ease-in-out;

  &:hover {
    opacity: 1;
    animation: back .5s ease-in-out;
  }

  img {
    width: 1em;
  }
}

@keyframes back {
  0% {
    transform: translateX(0) rotate(0)
  }
  25% {
    transform: translateX(-10px) rotate(-15deg)
  }
  100% {
    transform: translateX(0)
  }
}
